<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Fórmula General
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="">
    <div class="h-full w-full grid place-content-center justify-center">
        <div class="flex flex-col">
            <h1 class="text-center text-xl"> Ingresa tus comentarios aquí: </h1>
            <textarea class="bg-black text-white p-5" rows="15" cols="30" name="" id=""></textarea> <br>
            <button class="bg-slate-600 rounded p-1"> Guardar </button> 
        </div>
    </div>
  </ion-content>
  