<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Fehcas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex flex-col justify-center items-center">
    <ion-datetime
      (ionChange)="primeraFecha ($event)"
      display-format="MM/DD/YYYY"
    ></ion-datetime>
    <ion-datetime
    (ionChange)="segundaFecha($event)"
    display-format="MM/DD/YYYY"
    ></ion-datetime>
  </div>
  <div class="flex flex-col justify-center items-center pt-10">
    <label> La diferencia de dias es: </label>
    <input type="text" placeholder="Diferencia de dias" [value]="diferenciaFechas" readonly class="text-center"/>
  </div>
</ion-content>
